
.liuyanban{
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: white;
}
.liuyan{
  background-color: ghostwhite;
  height: 40px;
  width: 100%;
  
}
.liuyan label{
  width: 85%;
  height: 100%;
  float: left;
}
.delete{
  width: 15%;
  height: 100%;
  float: left;  
  color: rebeccapurple;
  text-align: right;
  
}
.liuyan1{
  height: 30px;
  width: 100%;
  background-color: rgb(218, 75, 236);
}
.liuyan1 label{
  width: 85%;
  height: 100%;
  float: left;
}