.delete{
    color: rebeccapurple;
    text-align: right;
}
.liuyanban{
    width: 100%;
    height: 400px;
}
.liuyan{
    background-color: ghostwhite;
    height: 20px;
    width: 100%;
    margin-left: -40px;
}